Cliente/Cliente/Web References/localhost/Servico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UploadArquivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nomeDoArquivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="arquivoByte" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadArquivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadArquivoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadArquivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nomeDoArquivo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadArquivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadArquivoResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadArquivoSoapIn">
    <wsdl:part name="parameters" element="tns:UploadArquivo" />
  </wsdl:message>
  <wsdl:message name="UploadArquivoSoapOut">
    <wsdl:part name="parameters" element="tns:UploadArquivoResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadArquivoSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadArquivo" />
  </wsdl:message>
  <wsdl:message name="DownloadArquivoSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadArquivoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicoSoap">
    <wsdl:operation name="UploadArquivo">
      <wsdl:input message="tns:UploadArquivoSoapIn" />
      <wsdl:output message="tns:UploadArquivoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadArquivo">
      <wsdl:input message="tns:DownloadArquivoSoapIn" />
      <wsdl:output message="tns:DownloadArquivoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicoSoap" type="tns:ServicoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadArquivo">
      <soap:operation soapAction="http://tempuri.org/UploadArquivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadArquivo">
      <soap:operation soapAction="http://tempuri.org/DownloadArquivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicoSoap12" type="tns:ServicoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadArquivo">
      <soap12:operation soapAction="http://tempuri.org/UploadArquivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadArquivo">
      <soap12:operation soapAction="http://tempuri.org/DownloadArquivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servico">
    <wsdl:port name="ServicoSoap" binding="tns:ServicoSoap">
      <soap:address location="http://localhost:60637/Servico.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicoSoap12" binding="tns:ServicoSoap12">
      <soap12:address location="http://localhost:60637/Servico.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>